<div class="p-d-flex p-flex-column p-jc-center p-ai-center content">
  <div class="p-d-flex p-jc-center logoPokedex">
    <img class="imgPokedex" src="https://1.bp.blogspot.com/-0V4itR_v87M/UtsCF-ehNYI/AAAAAAAABjU/UEQ5Jiy_85o/s1600/pokedex-3d-logo.png" alt="">
  </div>
  <div class="p-d-flex p-flex-wrap p-jc-center p-ai-center card mt-8">
    <app-card3d *ngFor="let img of urlImg; let i = index" [urlImageCard]="img"></app-card3d>
  </div>
  <div class="buttonStart">
    <button class="bookmarkBtn">
      <span class="IconContainer">
        <img class="imgButton" src="/assets/img/pikachu.webp" routerLink="/pokedex" alt="">
      </span>
      <p class="text">Buscar Pokemon <span class="pi pi-arrow-circle-down ml-3"></span></p>
    </button>
  </div>
</div>
