<div class="content">
  <i class="pi pi-angle-left mt-6 mr-3 ml-8 cursor-pointer iconBack" style="font-size: 2rem; color: white;" (click)="introPage()"></i>
  <div>
    <h1 class="pokeName">{{ pokemons.name }}</h1><br />
  </div>
  <div class=" imgFull flex justify-content-center">
    <img [src]="getPokemonImageURL(pokemonId)" alt="" (error)="handleImageError($event)">
  </div>
  <div class="flex justify-content-evenly">
    <p-button (click)="toggleShiny()">Cambiar a {{ swicthShiny ? 'Regular' : 'Shiny' }}</p-button>
    <p-button (click)="toggle3D()">Cambiar a {{ swicth3D ? 'Normal' : '3D' }}</p-button>
  </div>
  <div class="pokemon-container">
    <div *ngFor="let poke of evolutionPokemon" class="pokemon-wrapper">
      <div class="pokemons {{'borderDetail-'+ getPrincipalBorderClass(pokemons.types)}}">
        <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/'+ poke.id+ '.png'" alt="">
      </div>
      <div class="pokemon-name">
        <h1 style="color: white;">{{ poke.name }}</h1>
      </div>
    </div>
  </div>
</div>

